html{
	overflow-x:hidden;
}
.header{
  background-color: #ecdce6;
  margin-right: -15px;
  margin-left: -15px;
  height: 34px;
  margin-top:-8px;
}
.logo{
  float:left;
  padding-left:15px;
  padding-top:8px;
  margin-right: 10px;
  color:gray;
}
.search_People{
  float:left;
  height: 32px;
  border-radius: 9%;
  width:40%;
  background:#dccbcb;
}
.status{
  padding-left:15px;
  padding-top:5px;
  color:gray;
  float:left;
}
.logout{
  background:
}
.searchImg{
  height:20px;
  margin-left: -30px;
  padding-top: 5px;
  float:left;
}
.searchImg:hover{
  cursor:pointer;
}
.logoutImg{
  height: 31px;
  float: right;
  margin-right: 18px;
}
.logoutImg:hover{
  cursor:pointer;
}
.searchResults{
  position: absolute;
  /*left: 56px;   */
  left: 3%;
  top: 35px;
  width: 40%;
}
.searchResults>div{
  border: 1px solid #b1afaf;
  border-top: 0px;
  padding: 4px 10px 4px 10px;
  background: #dccbcb;
  color: #484646;
}

.singleChatImg{
	height: 25px;
	padding-right:5%;
}
.groupChatImg{
	height: 25px;
}
.searchUsername{
	padding-right:50%;
	padding-left:5%;
	position: relative;
    bottom: 8px;
}
.searchStatus{
	position: relative;
    bottom: 8px;
    padding-right: 10%;
}
.searchResultSingleChat,.searchResultMultiChat:hover{
	cursor:pointer;
}
.disp_none{
  display:none;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.chat_box{
	float: right;
  width: 24%;
  height: 40%;
	margin-right:4px;
}
.chat_header{
	border-bottom: 1px solid #bfadad;
    border-radius: 4%;
    background: #b17d9d;
    height: 30px;
}
.chat_header_userName{
	color: white;
	float: left;
	font-size: 17px;
	padding-left: 10px;
	padding-top: 4px;
	margin-right: 50%;
}
.chat_header_status{
	float: left;
	padding-top: 6px;
	padding-right: 6px;
	font-style: italic;
	color: white;
}
.chat_header_img{
	float: right;
  position: relative;
  top: 6px;
  right: 7px;
}
.chat_header_img,.chat_header_userName:hover{
	cursor:pointer;
}

.closeButton{
	height:20px;
}
.chat_body{
	border-bottom: 1px solid #e4dede;
  border-right: 1px solid #e4dede;
  border-left: 1px solid #e4dede;
  height: 196px;
  overflow-y: scroll;
}
.chat_main{
	position: absolute;
    right: 2%;
    top: 60%;
    width: 100%;
}
.highlight{
	background: #7d3361;
	font:white
}
.chat_body_user_input input{
	height: 34px;
	width: 100%;
	border: 1px solid #e4dede;
}
.login_chat{
	float: right;
    margin-left: 50%;
    background: #ece3e9;
    margin-bottom: 9px;
    border-radius: 5%;
    color: #5f5353;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 6px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 17px;
		width: 80%;
		word-wrap: break-word;
	}


.other_chat{
	float: left;
    margin-right: 50%;
    background: #dab0cc;
    margin-bottom: 9px;
    border-radius: 5%;
    color: #5f5353;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 6px;
    /* margin-right: 5px; */
    padding-left: 10px;
    padding-right: 17px;
		width:80%;
		word-wrap: break-word;
}
.disable_scroll{
	overflow-y:hidden;
}
