
.login{
  margin: 20%;
  margin-left: 35%;
}
.username, .email, .gender ,.password, .cfmpassword{
  margin-bottom:2%;
}
.username_span , .email_span, .gender_span , .password_span , .cfmpassword{
  font-weight:bold;
  margin-right:2%;
}
.login_button{
  margin-left:10%;
}
